<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
	<style type="text/css">
		html { height: 100% }
		body { height: 100%; margin: 0; padding: 0 }
		#map-canvas { height: 100% }
	</style>
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDjWvkgJKNHitb-yP486ggxU2BmsPQPC4o&sensor=false"></script>
	<script type="text/javascript">
		function initialize() {

			var locations = [
				{% for church in churches %}
  					['{{ church.name }}', {{ church.latitude }}, {{ church.longitude }}],
				{% endfor %}
			],mapOptions = {
		  		center: new google.maps.LatLng(locations[0][1], locations[0][2]),
		  		zoom: 8
			},map = new google.maps.Map(document.getElementById("map-canvas"),
				mapOptions),
			infowindow = new google.maps.InfoWindow({maxWidth: 200}), marker, i, latLongList = [];

			for (i = 0; i < locations.length; i++) {  
				latLong = new google.maps.LatLng(locations[i][1], locations[i][2]);
				marker = new google.maps.Marker({
					position: latLong,
					map: map
				});

				google.maps.event.addListener(marker, 'click', (function(marker, i) {
					return function() {
						infowindow.setContent(locations[i][0]);
  						infowindow.open(map, marker);
					}
				})(marker, i));

				latLongList.push(latLong);
			}

			var bounds = new google.maps.LatLngBounds ();

			for (i = 0, LtLgLen = latLongList.length; i < LtLgLen; i++) {
  				bounds.extend (latLongList[i]);
			}

			map.fitBounds(bounds);
	  	}

	  	google.maps.event.addDomListener(window, 'load', initialize);

	</script>
</head>
<body>
	<img src="{{ asset('bundles/hammondchurch/images/greatlimber1.jpg') }}" alt="Symfony!" />
	<div id="map-canvas1"/>
</body>
</html>

